.btn-area1 {
  display: flex;
  position: relative; // 하단 툴팁이 들어갈 경우
  flex-wrap: wrap;
  margin: 0 -0.4rem;
  text-align: center;

  >* {
    margin: 0.2rem 0.4rem 0.2rem;
  }
}

// 버튼 1
.btn-type1 {
  display: inline-block;
  position: relative;
  height: 4rem;
  padding: 0.8rem 1.6rem;
  border: 0.1rem solid $btn1;
  border-radius: 2.4rem;
  font-size: 1.4rem;
  transition: all .5s ease;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -15rem;
    width: 100%;
    height: 100%;
    background: $btn1;
    transition: all .5s ease;
    z-index: -1;
  }

  +.btn-type1 {
    margin-left: 0.4rem;
  }

  &.active,
  &:hover,
  &:focus {
    color: #000;
    &:before {
      left: 0;
    }
  }

  @at-root span#{&} {
    cursor: default;

    &:hover {
      box-shadow: none;
    }
  }
}