.nav-tab {
    display: flex;
    margin: -0.8rem 0 0 -0.8rem;
    overflow: auto;

    [data-tab-trigger] {
        margin: 0.8rem 0 0 0.8rem;
        white-space: nowrap;
        padding: 0.8rem;
        border: 0.1rem solid #fff;
        color: #fff;
        transition: all .3s;
    }
}

[data-tab-trigger] {
    &.on {
        background: #fff;
        color: #222;
    }
}

[data-tab-target] {
    display: none;

    &.showing {
        display: block;
        animation: tab-in .15s forwards;
    }

    &.shown {
        display: block;
    }

    &.hiding {
        display: block;
        animation: tab-in .15s reverse;
    }

    &.hidden {
        display: none;
    }
}

// tab show & hide
@keyframes tab-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}