.nav-tab {
    display: flex;
    margin: -0.8rem 0 0 -0.8rem;

    &-item {
        margin: 0.8rem 0 0 0.8rem;
        
        [data-tab-trigger] {
            padding: 0.8rem;
            border: 0.1rem solid #0d6efd;
            color: #0d6efd;
            border-radius: 0.8rem;
            transition: background .3s;
        }
    }
}

[data-tab-trigger] {
    .nav-tab-item.on & {
        background: #0d6efd;
        color: #fff;
    }
}

[data-tab-target] {
    display: none;
    opacity: 0;
    transition: all .1s;

    &.showing,
    &.hiding {
        display: block;
        opacity: 0;
    }

    &.fade {
        opacity: 1;
    }

    &.shown {
        display: block;
    }

    &.hidden {
        display: none;
    }
}