.tit-main {
  position: relative;
  font-size: 4.8rem;
  margin-bottom: 2.4rem;
  text-align: center;
  word-break: break-all;

  &:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 7rem;
    color: rgba(255, 255, 255, 0.15);
    z-index: -1;
    font-weight: 900;

    @media screen and (max-width: 640px) {
      content: "";
    }
  }
}

.tit-sub {

  &1 {
    font-size: 2rem;
    color: $text-type1;
    margin-bottom: 1.6rem;
  }

  &2 {
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
  }
}

.txt-p {
  color: $text-default;
  margin-bottom: 1.6rem;

  a {
    color: #fff;
    text-decoration: underline;
  }
}