@import 'fonts';
@import 'reset';
@import 'color';
@import 'layouts';
@import 'form';
@import 'button';
@import 'text';
@import 'items';

// 가이드
@import 'modal';
@import 'accordion';
@import 'tab';
@import 'tooltip';
@import 'range';
@import 'scroll_detail';

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
}

figure {

  img {
    max-width: 40rem;

    @media screen and (max-width: 620px) {
      max-width: 100%;
    }
  }

  >a {
    cursor: zoom-in;
  }

  +figure {
    margin-top: 1.6rem;
  }
}

// codepen
.cp_embed_wrapper {
  margin: 2.4rem 0;
}