@font-face {
  font-family: "NotoSansKR";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/NotoSansKR-Regular.woff");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/NotoSansKR-Medium.woff");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/NotoSansKR-Bold.woff");
}
html, body, div, span, object, iframe,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main, summary,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
form, fieldset, legend, input, label, button, textarea, select, textarea, input,
table, caption, tbody, tfoot, thead, tr, th, td,
b, i, dl, dt, dd, ol, ul, li,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, data,
time, mark, audio, video, a {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body :before, body :after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #000;
  line-height: 1.5;
  color: #fff;
  word-break: keep-all;
  -ms-text-size-adjust: 100%;
  -webkit-test-size-adjust: 100%;
  --webkit-font-smoothing:antialiased;
}

body, select, input, button, textarea, button, pre {
  font-size: 14px;
  font-family: "NotoSansKR", sans-serif;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main, summary {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

cite, em, dfn, address {
  font-style: normal;
}

fieldset, iframe {
  border: 0 none;
  min-width: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

ol, ul, li {
  list-style: none;
}

img, fieldset, iframe {
  border: 0 none;
}

img, video, audio, object, embed {
  max-width: 100%;
  height: auto;
}

legend, caption {
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 1px;
  opacity: 0;
  white-space: nowrap;
}

i, em, address {
  font-style: normal;
}

input, select, textarea {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
}

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

label, button {
  cursor: pointer;
}

button {
  cursor: pointer;
  padding: 0;
  background: none;
  border: 0 none;
}

select::-ms-expand {
  display: none;
}

textarea {
  resize: vertical;
}

input[type=text]::-ms-clear {
  display: none;
}

input[type=radio], input[type=checkbox], input[type=tel], input[type=number] {
  vertical-align: middle;
}

label > input[type=radio], label > input[type=checkbox] {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

input[type=number] {
  -moz-appearace: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

table {
  width: 100%;
  empty-cells: show;
  border-spacing: 0;
  table-layout: fixed;
}

table th {
  font-weight: normal;
}

a, a:visited {
  color: inherit;
}

a:link, a:hover {
  text-decoration: none;
}

.wrapper .header {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 24px;
}
.wrapper .header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 24px;
  font-size: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1120px) {
  .wrapper .header-wrap {
    width: 100%;
  }
}
.wrapper .header-bar {
  position: relative;
  display: block;
  width: 24px;
  height: 16px;
}
@media screen and (min-width: 640px) {
  .wrapper .header-bar {
    display: none;
  }
}
.wrapper .header-bar:before, .wrapper .header-bar:after,
.wrapper .header-bar i {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.wrapper .header-bar:before {
  top: 0;
}
.wrapper .header-bar i {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.wrapper .header-bar:after {
  top: calc(100% - 2px);
}
.wrapper .header-bar.on:before {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  opacity: 0;
}
.wrapper .header-bar.on i {
  opacity: 0;
}
.wrapper .header-bar.on:after {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  opacity: 0;
}
.wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 24px 24px;
}
.wrapper .container .guide-nav {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 220px;
  margin-right: 16px;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}
.wrapper .container .guide-nav-title {
  display: block;
  font-size: 24px;
  text-align: center;
}
.wrapper .container .guide-nav-close {
  display: none;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 16px;
}
.wrapper .container .guide-nav-close.trigger {
  display: block;
}
.wrapper .container .guide-nav-close.trigger:before, .wrapper .container .guide-nav-close.trigger:after {
  -webkit-animation: nav-close 0.3s;
          animation: nav-close 0.3s;
}
@-webkit-keyframes nav-close {
  0% {
    -webkit-transform: translateY(-50%) rotate(0);
            transform: translateY(-50%) rotate(0);
  }
}
@keyframes nav-close {
  0% {
    -webkit-transform: translateY(-50%) rotate(0);
            transform: translateY(-50%) rotate(0);
  }
}
.wrapper .container .guide-nav-close:before, .wrapper .container .guide-nav-close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.wrapper .container .guide-nav-close:after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}
.wrapper .container .guide-nav > ul {
  margin-top: 16px;
  padding: 8px;
  background: #3e3e3e;
  border-radius: 16px;
}
.wrapper .container .guide-nav > ul li a {
  display: block;
  line-height: 30px;
  font-size: 16px;
  padding-left: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.wrapper .container .guide-nav > ul li a:before {
  content: "";
  display: inline-block;
  margin: 9px 8px 0 -8px;
  width: 2px;
  height: 12px;
  background: transparent;
  vertical-align: middle;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.wrapper .container .guide-nav > ul li a.active, .wrapper .container .guide-nav > ul li a:hover, .wrapper .container .guide-nav > ul li a:focus {
  color: #ffbd39;
}
.wrapper .container .guide-nav > ul li a.active:before, .wrapper .container .guide-nav > ul li a:hover:before, .wrapper .container .guide-nav > ul li a:focus:before {
  margin-top: 0;
  height: 16px;
  background: #ffbd39;
}
.wrapper .container .guide-nav > ul li + li {
  margin-top: 8px;
}
.wrapper .container.center {
  text-align: center;
}
.wrapper .container > section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.wrapper .container > section + section {
  margin-top: 24px;
}
@media screen and (max-width: 640px) {
  .wrapper .container .guide-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #3e3e3e;
    z-index: 10;
  }
  .wrapper .container .guide-nav-title {
    font-size: 32px;
  }
  .wrapper .container .guide-nav.on {
    display: block;
    -webkit-animation: nav 0.3s;
            animation: nav 0.3s;
  }
  @-webkit-keyframes nav {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }
  @keyframes nav {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }
}

.label-btn1 {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 0 12px;
  padding: 0;
  text-align: center;
  overflow: hidden;
}
.label-btn1 > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.label-btn1 input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.label-btn1 input + span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 14px;
  font-size: 15px;
  line-height: 17px;
  height: 48px;
  color: #6d747a;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.label-btn1 input + span:before, .label-btn1 input + span:after {
  content: "";
  position: absolute;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.label-btn1 input + span:after {
  right: -2px;
  top: 50%;
  width: 1px;
  height: 10px;
  margin: -5px 0 0;
  background: #ced4da;
  z-index: -2;
}
.label-btn1 input:checked + span {
  color: #175fec;
}
.label-btn1 input:checked + span:after {
  display: none;
}
.label-btn1 input:disabled + span {
  color: #8f959c;
}
.label-btn1:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #ced4da;
  background: #f8f9fa;
  z-index: -2;
}
.label-btn1:before,
.label-btn1 > label > span {
  border-radius: 8px;
}
.label-btn1 > label {
  position: relative;
}
.label-btn1 > label:last-child span:after {
  display: none;
}
.label-btn1 > label > input:checked + span {
  background: #fff;
  border-color: #175fec;
}
.label-btn1 > label > span {
  border: 1px solid transparent;
}
.label-btn1 > span:last-of-type:after {
  display: none;
}
.label-btn1 > span:last-of-type:before {
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #175fec;
  border-radius: 8px;
  z-index: -1;
}
.label-btn1 > span:nth-of-type(1):nth-last-of-type(2) ~ input:nth-of-type(2) {
  left: 50%;
}
.label-btn1 > span:nth-of-type(1):nth-last-of-type(3) ~ input:nth-of-type(2) {
  left: 33.3333333333%;
}
.label-btn1 > span:nth-of-type(1):nth-last-of-type(3) ~ input:nth-of-type(3) {
  left: 66.6666666667%;
}
.label-btn1 > span:nth-of-type(1):nth-last-of-type(4) ~ input:nth-of-type(2) {
  left: 25%;
}
.label-btn1 > span:nth-of-type(1):nth-last-of-type(4) ~ input:nth-of-type(3) {
  left: 50%;
}
.label-btn1 > span:nth-of-type(1):nth-last-of-type(4) ~ input:nth-of-type(4) {
  left: 75%;
}
.label-btn1 > input {
  bottom: 0;
  z-index: 2;
  cursor: pointer;
}
.label-btn1 > input + span {
  float: left;
}
.label-btn1 > input:not(:checked) ~ input:not(:checked) ~ span:last-of-type:before {
  display: none;
}
.label-btn1 > input:checked ~ span:last-of-type:before {
  display: block !important;
}
.label-btn1 > input:checked:nth-of-type(1) ~ span:nth-of-type(2):before {
  margin-left: -100%;
}
.label-btn1 > input:checked:nth-of-type(1) ~ span:nth-of-type(3):before {
  margin-left: -200%;
}
.label-btn1 > input:checked:nth-of-type(1) ~ span:nth-of-type(4):before {
  margin-left: -300%;
}
.label-btn1 > input:checked:nth-of-type(2) ~ span:nth-of-type(3):before {
  margin-left: -100%;
}
.label-btn1 > input:checked:nth-of-type(2) ~ span:nth-of-type(4):before {
  margin-left: -200%;
}
.label-btn1 > input:checked:nth-of-type(3) ~ span:nth-of-type(4):before {
  margin-left: -100%;
}

.label-check1 {
  display: inline-block;
}
.label-check1.block {
  display: block;
}
.label-check1.simple > label {
  width: 28px;
  color: transparent;
  overflow: hidden;
}
.label-check1.simple > label span {
  padding: 4px;
}
.label-check1.simple > label span::-moz-selection {
  background: transparent;
}
.label-check1.simple > label span::selection {
  background: transparent;
}
.label-check1 > label {
  display: inline-block;
  position: relative;
  line-height: 18px;
}
.label-check1 > label span {
  display: inline-block;
  position: relative;
  padding: 4px 4px 4px 28px;
}
.label-check1 > label span:before, .label-check1 > label span:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
}
.label-check1 > label span:before {
  width: 20px;
  height: 20px;
  border: 1px solid #ffe344;
  border-radius: 4px;
}
.label-check1 > label input[type=checkbox]:checked + span:before {
  background: #ffe344;
}
.label-check1 > label input[type=checkbox]:checked + span:after {
  top: 9px;
  left: 9px;
  width: 11px;
  height: 6px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.label-check1 > label input[type=radio] + span:before {
  border-radius: 50%;
}
.label-check1 > label input[type=radio]:checked + span:before {
  background: #ffe344;
  border-radius: 50%;
}
.label-check1 > label input[type=radio]:checked + span:after {
  top: 10px;
  left: 10px;
  background: #fff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.btn-area1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -4px;
  text-align: center;
}
.btn-area1 > * {
  margin: 2px 4px 2px;
}

.btn-type1 {
  display: inline-block;
  position: relative;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #ffbd39;
  border-radius: 24px;
  font-size: 14px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}
.btn-type1:before {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  width: 100%;
  height: 100%;
  background: #ffbd39;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: -1;
}
.btn-type1 + .btn-type1 {
  margin-left: 4px;
}
.btn-type1.active, .btn-type1:hover, .btn-type1:focus {
  color: #000;
}
.btn-type1.active:before, .btn-type1:hover:before, .btn-type1:focus:before {
  left: 0;
}
span.btn-type1 {
  cursor: default;
}
span.btn-type1:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tit-main {
  position: relative;
  font-size: 48px;
  margin-bottom: 24px;
  text-align: center;
}
.tit-main:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 70px;
  color: rgba(255, 255, 255, 0.15);
  z-index: -1;
  font-weight: 900;
}
@media screen and (max-width: 640px) {
  .tit-main:before {
    content: "";
  }
}

.tit-sub1 {
  font-size: 20px;
  color: #ffbd39;
  margin-bottom: 16px;
}
.tit-sub2 {
  font-size: 18px;
  margin-bottom: 16px;
}

.txt-p {
  color: #bebebe;
  margin-bottom: 16px;
}
.txt-p a {
  color: #fff;
  text-decoration: underline;
}

.main-section .guide-intro {
  text-align: center;
}
.main-section .guide-intro p {
  font-size: 24px;
  color: #ffbd39;
}

.box-type1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 640px) {
  .box-type1 {
    display: block;
  }
}
.box-type1 > article {
  position: relative;
  width: calc(50% - 16px);
  height: 320px;
  padding: 24px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  color: #bebebe;
  -webkit-transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.box-type1 > article:hover {
  -webkit-transform: translateY(-10px) !important;
          transform: translateY(-10px) !important;
  -webkit-box-shadow: 0 20px 20px -8px rgba(122, 122, 122, 0.32);
          box-shadow: 0 20px 20px -8px rgba(122, 122, 122, 0.32);
}
.box-type1 > article .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 24px 24px;
  font-size: 16px;
  color: #fff;
}
.box-type1 > article .bottom > .btn-area1 {
  margin-top: 8px;
}
.box-type1 > article .content {
  font-size: 16px;
  margin-top: 8px;
}
@media screen and (min-width: 640px) {
  .box-type1 > article:nth-of-type(2n) {
    margin-left: 16px;
  }
  .box-type1 > article:nth-of-type(2n) ~ article {
    margin-top: 16px;
  }
}
@media screen and (max-width: 640px) {
  .box-type1 > article {
    width: 100%;
    margin-left: 0 !important;
  }
  .box-type1 > article:not(:first-child) {
    margin-top: 16px;
  }
}

.box-type2 > article {
  width: 100%;
}
.box-type2 > article + article {
  margin: 16px 0 0 0;
}

.code {
  max-width: calc(100vw - 48px);
  margin-top: 24px;
  text-align: left;
}
.code + .code {
  margin-top: 16px;
}
.code pre {
  max-height: 400px;
}

[data-scroll] {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
[data-scroll].active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.ly-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.ly-modal:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.ly-modal-header {
  position: relative;
}
.ly-modal-title {
  color: #222;
}
.ly-modal-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: calc(50% + 20px);
  left: 50%;
  width: 100%;
  max-width: 768px;
  min-height: 300px;
  background: #fff;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.ly-modal-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #222;
  overflow: auto;
}
.ly-modal-close {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  width: 1.2rem;
  height: 1.2rem;
}
.ly-modal-close:before, .ly-modal-close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.6rem;
  height: 0.2rem;
  background: #222;
  border-radius: 0.4rem;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  -webkit-animation: modal-close-before 0.3s;
          animation: modal-close-before 0.3s;
}
@-webkit-keyframes modal-close-before {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
}
@keyframes modal-close-before {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
}
.ly-modal-close:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-animation: modal-close-after 0.3s;
          animation: modal-close-after 0.3s;
}
@-webkit-keyframes modal-close-after {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
}
@keyframes modal-close-after {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
}
.ly-modal.showing, .ly-modal.hiding, .ly-modal.shown {
  display: block;
}
.ly-modal.hidden {
  display: none;
}
.ly-modal.fade:before {
  opacity: 1;
}
.ly-modal.fade .ly-modal-wrap {
  top: 50%;
  opacity: 1;
}
.ly-modal.full .ly-modal-wrap {
  top: 40px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 100%;
}
.ly-modal.full.fade .ly-modal-wrap {
  top: 0;
}
.ly-modal.btm .ly-modal-wrap {
  top: auto;
  bottom: -100%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 16px 16px 0 0;
}
.ly-modal.btm.fade .ly-modal-wrap {
  bottom: 0;
  max-height: calc(100vh - 100px);
}

.accordion + .accordion {
  margin-top: 1rem;
}
.accordion-title {
  display: block;
  position: relative;
}
.accordion-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.accordion-button:before, .accordion-button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 30px;
  width: 9px;
  height: 2px;
  background: #fff;
  border-radius: 2px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.accordion-button:after {
  right: 24px;
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
}
.accordion-button.on:before {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}
.accordion-button.on:after {
  -webkit-transform: translateY(-50%) rotate(225deg);
          transform: translateY(-50%) rotate(225deg);
}
.accordion-button.plus:before, .accordion-button.plus:after {
  width: 12px;
  right: 25px;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}
.accordion-button.plus:after {
  -webkit-transform: translateY(-50%) rotate(0);
          transform: translateY(-50%) rotate(0);
}
.accordion-button.plus.on:before {
  -webkit-transform: translateY(-50%) rotate(360deg);
          transform: translateY(-50%) rotate(360deg);
}
.accordion [data-accr-target] {
  display: none;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
.accordion [data-accr-target].showing, .accordion [data-accr-target].hiding {
  display: block;
  height: 0;
  overflow: hidden;
}
.accordion [data-accr-target].shown {
  display: block;
}
.accordion [data-accr-target].hidden {
  display: none;
}
.accordion-body {
  padding: 1rem;
}

.accordion + .accordion {
  margin-top: 1rem;
}
.accordion-item.on > [data-accor-target] {
  display: block;
}
.accordion-title {
  display: block;
  position: relative;
}
.accordion-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.accordion-button:before, .accordion-button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 30px;
  width: 9px;
  height: 2px;
  background: #fff;
  border-radius: 2px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.accordion-button:after {
  right: 24px;
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
}
.accordion [data-accor-target] {
  display: none;
}
.accordion [data-accor-target].showing, .accordion [data-accor-target].hiding {
  display: block;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
.accordion [data-accor-target].shown {
  display: block;
}
.accordion [data-accor-target].hidden {
  display: none;
}
.accordion-body {
  padding: 1rem;
}

.tooltip {
  display: inline-block;
  position: relative;
}
.tooltip [data-tooltip-trigger] {
  color: #aaa;
}
.tooltip-content {
  display: none;
  position: absolute;
  top: 2rem;
  left: 0;
  padding: 0.8rem 2.8rem 0.8rem 0.8rem;
  background: #aaa;
  border-radius: 0.8rem;
  opacity: 0;
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.tooltip-content.showing, .tooltip-content.hiding {
  display: block;
}
.tooltip-content.fade {
  opacity: 1;
}
.tooltip-content.shown {
  display: block;
}
.tooltip-content.hidden {
  display: none;
}
.tooltip-close {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  width: 1.2rem;
  height: 1.2rem;
}
.tooltip-close:before, .tooltip-close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.6rem;
  height: 0.2rem;
  background: #fff;
  border-radius: 0.4rem;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  -webkit-animation: tooltip-close-before 0.3s;
          animation: tooltip-close-before 0.3s;
}
@-webkit-keyframes tooltip-close-before {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
}
@keyframes tooltip-close-before {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
}
.tooltip-close:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-animation: tooltip-close-after 0.3s;
          animation: tooltip-close-after 0.3s;
}
@-webkit-keyframes tooltip-close-after {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
}
@keyframes tooltip-close-after {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.tabs-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tabs-title li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.tabs-title li + li button {
  border-left: none;
}
.tabs-title li.on button {
  color: #1d4cd8;
}
.tabs-title li.on button:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border: 1px solid #1d4cd8;
}
.tabs-title li button {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  overflow: visible;
}
.tabs-content {
  display: none;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.tabs-content.showing, .tabs-content.hiding {
  display: block;
}
.tabs-content.fade {
  opacity: 1;
}
.tabs-content.shown {
  display: block;
}
.tabs-content.hidden {
  display: none;
}

.context-menu {
  border: 2px solid #000;
}
.context-menu-item {
  position: relative;
  border-top: 1px solid #000;
  margin: 0;
}
.context-menu-item + .context-menu-item {
  margin-top: 16px;
}
.context-menu-item button {
  color: #fff;
  text-align: left;
}
.context-menu-item:first-child {
  border-top: 0;
}
.context-menu-item.open .context {
  display: block;
}
.context-menu-item .context {
  display: none;
  position: absolute;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  top: calc(100% - 10px);
  right: 10px;
  width: 60%;
  padding: 10px;
  z-index: 1;
}

.nav-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -8px 0 0 -8px;
}
.nav-tab-item {
  margin: 8px 0 0 8px;
}
.nav-tab-item [data-tab-trigger] {
  padding: 8px;
  border: 1px solid #0d6efd;
  color: #0d6efd;
  border-radius: 8px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.nav-tab-item.on [data-tab-trigger] {
  background: #0d6efd;
  color: #fff;
}

[data-tab-target] {
  display: none;
  opacity: 0;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
[data-tab-target].showing, [data-tab-target].hiding {
  display: block;
  opacity: 0;
}
[data-tab-target].fade {
  opacity: 1;
}
[data-tab-target].shown {
  display: block;
}
[data-tab-target].hidden {
  display: none;
}

.range {
  padding-top: 40px;
}
.range + .range {
  margin-top: 16px;
}
.range-area {
  position: relative;
  padding-top: 15px;
}
.range-area input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 15px;
  background: transparent;
  cursor: pointer;
  z-index: 1;
}
.range-area input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 21px;
  height: 21px;
  border: none;
  border-radius: 50%;
  background: #fff url("https://sonky740.github.io/Guide/src/images/ico_range_btn.svg") no-repeat 50% 52%/11px;
  -webkit-box-shadow: 2px 2px 9px rgba(29, 76, 216, 0.71);
          box-shadow: 2px 2px 9px rgba(29, 76, 216, 0.71);
  cursor: -webkit-grab;
  cursor: grab;
}
.range-label {
  display: inline-block;
  position: absolute;
  top: -36px;
  left: 0;
  min-width: 72px;
  padding: 2px 7px;
  background-color: #2f62fb;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.range-label:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #2f62fb;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}
.range-label.left, .range-label.right {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}
.range-label.left:after, .range-label.right:after {
  content: none;
}
.range-label.left {
  right: auto !important;
  left: -8px !important;
}
.range-label.right {
  right: -6px !important;
  left: auto !important;
}
.range-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -5px;
}
.range-bar, .range-fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: #f6f7f8;
  border-radius: 2px;
  overflow: hidden;
}
.range-fill {
  top: 0;
  left: 0;
  background: #2f62fb;
}
.range-fill-spacing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.range-fill-spacing > li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}
.range-fill-spacing > li:after {
  content: "";
  position: absolute;
  top: 0;
  right: -2px;
  width: 2px;
  height: 100%;
  background: #fff;
}
.range-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4px;
}
.range-bottom > span {
  color: #b7b7b7;
  font-weight: 700;
}
.range.type1 {
  padding-top: 0;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
}

figure img {
  max-width: 400px;
}
@media screen and (max-width: 620px) {
  figure img {
    max-width: 100%;
  }
}
figure > a {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
figure + figure {
  margin-top: 16px;
}

.cp_embed_wrapper {
  margin: 24px 0;
}/*# sourceMappingURL=common.css.map */