.accordion {

  &+& {
    margin-top: 1rem;
  }

  &-title {
    display: block;
    position: relative;
  }

  &-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 30px;
      width: 9px;
      height: 2px;
      background: #fff;
      border-radius: 2px;
      transform: translateY(-50%) rotate(45deg);
      transition: transform .3s;
    }

    &:after {
      right: 24px;
      transform: translateY(-50%) rotate(135deg);
    }

    &.on {
      &:before {
        transform: translateY(-50%) rotate(-45deg);
      }

      &:after {
        transform: translateY(-50%) rotate(225deg);
      }
    }

    &.plus {
      &:before,
      &:after {
        width: 12px;
        right: 25px;
        transform: translateY(-50%) rotate(90deg);
      }

      &:after {
        transform: translateY(-50%) rotate(0);
      }

      &.on {
        &:before {
          transform: translateY(-50%) rotate(360deg);
        }
      }
    }
  }

  [data-accr-target] {
    display: none;
    transition: height .3s;

    &.showing,
    &.hiding {
      display: block;
      height: 0;
      overflow: hidden;
    }

    &.shown {
      display: block;
    }

    &.hidden {
      display: none;
    }
  }

  &-body {
    padding: 1rem;
  }
}