.context-menu {
  border: 2px solid #000;

  &-item {
    position: relative;
    border-top: 1px solid #000;
    margin: 0;

    &+& {
      margin-top: 16px;
    }

    button {
      color: #fff;
      text-align: left;
    }

    &:first-child {
      border-top: 0;
    }

    &.open {
      .context {
        display: block;
      }
    }

    .context {
      display: none;
      position: absolute;
      background-color: #fff;
      color: #000;
      border: 1px solid #000;
      top: calc(100% - 10px);
      right: 10px;
      width: 60%;
      padding: 10px;
      z-index: 1;
    }
  }
}