.context-menu {
  border: 2px solid #000;

  &-item {
    position: relative;
    border-top: 1px solid #000;
    margin: 0;

    &+& {
      margin-top: 16px;
    }

    &:first-child {
      border-top: 0;
    }

    &:after {
      position: absolute;
      bottom: 10px;
      right: 10px;
      border: 1px solid #000;
      padding: 2px;
      font-size: 9px;
      background-color: #fff;
    }

    &:hover {
      &:after {
        content: 'open';
        color: #000;
      }
    }

    &.open {
      &:after {
        content: 'close';
        color: #000;
      }

      .context {
        display: block;
      }
    }

    .context {
      display: none;
      position: absolute;
      background-color: #fff;
      color: #000;
      border: 1px solid #000;
      top: calc(100% - 10px);
      right: 10px;
      width: 60%;
      padding: 10px;
      z-index: 1;
    }
  }
}