.range {
    padding-top: 32px;

    &+& {
        margin-top: 16px;
    }

    &-area {
        position: relative;
        padding-top: 15px;

        input[type="range"] {
            appearance: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 15px;
            background: transparent;
            cursor: pointer;
            z-index: 1;

            &::-webkit-slider-thumb {
                appearance: none;
                width: 21px;
                height: 21px;
                border: none;
                border-radius: 50%;
                background: #fff url('../images/ico_range_btn.svg') no-repeat 50% 52%/11px;
                box-shadow: 2px 2px 9px rgba(29, 76, 216, .71);
                cursor: grab;
            }
        }
    }

    &-label {
        display: inline-block;
        position: absolute;
        top: -36px;
        left: 0;
        min-width: 66px;
        padding: 2px 7px;
        background-color: #2f62fb;
        border-radius: 11px;
        text-align: center;
        color: #fff;
        font-size: 11px;
        font-weight: 700;
        z-index: 1;
        transform: translateX(-50%);

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-top: 3px solid #2f62fb;
            transform: translate(-50%, 100%);
        }

        &.left,
        &.right {
            transform: translateX(0) !important;

            &:after {
                content: none;
            }
        }

        &.left {
            right: auto !important;
            left: -8px !important;
        }

        &.right {
            right: -6px !important;
            left: auto !important;
        }
    }

    &-wrap {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: -5px;
    }

    &-bar,
    &-fill {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 4px;
        background: #f6f7f8;
        border-radius: 2px;
        overflow: hidden;
    }

    &-fill {
        top: 0;
        left: 0;
        background: #2f62fb;

        &-spacing {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            justify-content: space-between;

            >li {
                flex: 1;
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: -2px;
                    width: 2px;
                    height: 100%;
                    background: #fff;
                }
            }
        }
    }

    &-bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 4px;

        >span {
            color: #b7b7b7;
            font-weight: 700;
        }
    }

    &.type1 {
        padding-top: 0;
    }
}