.tip {
    display: inline-block;
    position: relative;
  
    [data-tip-trigger] {
      color: #aaa;
    }
  
    &-content {
      display: none;
      position: absolute;
      top: 2rem;
      left: 0;
      padding: 0.8rem 2.8rem 0.8rem 0.8rem;
      background: #aaa;
      border-radius: 0.8rem;
      opacity: 0;
      z-index: 10;
      transition: all .3s;
  
      &.showing,
      &.hiding {
        display: block;
      }
  
      &.fade {
        opacity: 1;
      }
  
      &.shown {
        display: block;
      }
  
      &.hidden {
        display: none;
      }
    }
  
    &-close {
      position: absolute;
      top: 0.8rem;
      right: 0.8rem;
      width: 1.2rem;
      height: 1.2rem;
  
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1.6rem;
        height: 0.2rem;
        background: #fff;
        border-radius: 0.4rem;
        transform: translate(-50%, -50%) rotate(45deg);
        animation: tip-close-before .3s;
  
        @keyframes tip-close-before {
          0% {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
          100% {
            transform: translate(-50%, -50%) rotate(45deg);
          }
        }
      }
  
      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
        animation: tip-close-after .3s;
  
        @keyframes tip-close-after {
          0% {
            transform: translate(-50%, -50%) rotate(45deg);
          }
          100% {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
      }
    }
  }