@import 'fonts';
@import 'reset';
@import 'color';
@import 'layouts';
@import 'form';
@import 'button';
@import 'text';
@import 'items';

// 가이드
@import 'accordion';
@import 'contextMenu';

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
}

.ui-tabcon {
  display: none;

  &.active {
    display: block;
  }
}

figure {

  img {
    max-width: 400px;

    @media screen and (max-width: 620px) {
      max-width: 100%;
    }
  }

  >a {
    cursor: zoom-in;
  }

  +figure {
    margin-top: 16px;
  }
}

// codepen
.cp_embed_wrapper {
  margin: 24px 0;
}